body {
    background-color: black;
    overflow: hidden;
}
.alkio {
    --ruutu: calc(1em);
    width: var(--ruutu);
    height: var(--ruutu);
    line-height: var(--ruutu);
    color: white;
    text-align: center;
}
table {
    border-collapse: collapse;
}
td {
    border: 0.1em solid rgb(53, 53, 53);
}

.tummempi {
    background-color: #f5f5f5;
}
.risti {
    background-color: #3856ff;
}
.nolla {
    background-color: #ff0000;
}
tr:hover {
    background-color: #838383;
}
td:hover {
    background-color: #505050;
}

.App {
    margin: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pisteet {
    order: 0;
}
.pelaajaX {
    color: white;
    text-align: center;
    font-size: 150%;
    margin: 1em;
}
.pelaajaO {
    color: white;
    text-align: center;
    font-size: 150%;
    margin: 1em;
}
.ruudukko {
    order: 1;
}
.napit {
    display: flex;
    flex-direction: column;
    order: 2;
}
.nappi {
    color: black;
    margin: 2em;
    width: 5em;
    height: 4em;
}
.voitto {
    font-size: 2em;
    color: white;
    text-align: center;
}
.ohje {
    color: rgb(156, 156, 156);
    margin: 5px;
}
